html { 
	height: 100% 
}
h1 { 
	height: 100%; 
	margin: 0; 
	padding: 0; 
	color:#ffffff; 
	text-align:left; 
	font-family:"Open Sans", sans-serif; 
	font-size:30px; 
}
p { 
	height: 100%; 
	margin: 0; 
	padding: 0;
	color:#ffffff; 
	text-align:left;
	font-family:"Open Sans", sans-serif; 
	font-size:12px; 
}
#map_canvas { height: 100% }