html { 
  height: 100% 
}
body {
  background-image: url("/images/avatar.jpg");
  background-repeat: repeat;
  color:#363636;
  text-align:left;
  font-family:"Open Sans", sans-serif;
  font-size:11px;
}
p { 
  height: 100%; 
  margin: 0; 
  padding: 0;
  text-align:left;
  font-size:12px; 
}
h1 {
  margin: 0;
  padding: 0;
  font-size:30px;
  text-align:left;
  height: 100%; 
}
div {
  vertical-align: top;
  margin-left:auto;
  margin-right:auto;
}

input.green {
  background-color:lightgreen;
  min-width: 50px;
  width: 50px;
}
input.red {
  background-color:pink;
  min-width: 50px;
  width: 50px;
}
table { 
  empty-cells: show; 
}
table td {
  vertical-align:top;
  text-align: left;
}
table.center {
  height: 100%;
}

.app {
  width: 95%;
  height: 95%;
  background-color: white;
  padding: 16px;
}

.nobox {
  border: none;
}

#map_canvas {
  height: 100% 
}